@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

a > span {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.eclipes {
    right: 100px;
}

.rectangle {
    top: -0px;
    left: 30px;
}

.rectangleTwo{
    right: 20px;
    bottom: -30px;
} 


@media screen and (max-width:1200px){
    .eclipes {
        right: 70px;
    }
}

@media screen and (max-width:980px){
    .eclipes {
        right: 10px;
    }
}

@media screen and (max-width: 1020px) {
    .custom-grid {
        grid-template-columns: repeat(2, 1fr) !important; 
    }
}

@media screen and (max-width:700px){
    .eclipes {
        right: 70px;
    }
}

@media screen and (max-width: 600px) {
    .custom-grid {
        grid-template-columns: 1fr !important;  
    }
}
