@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: white;
    font-family: 'Satisfy', cursive;
}

a > span {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

h1 {
    font-family: 'Poppins', sans-serif;
}